%p#notice= notice

%p
  %b Name:
  = @team.name
%p
  %b Owner:
  = @team.owner
%p
  %b Home ground:
  = @team.home_ground
%p
  %b Captain:
  = @team.captain
%p
  %b Coach:
  = @team.coach
%p
  %b Official team site:
  = @team.official_team_site
%p
  %b Rank:
  = @team.rank
%p
  %b Point:
  = @team.point

= link_to 'Edit', edit_team_path(@team)
\|
= link_to 'Back', teams_path
